* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.tabbar{
    display: flex;
}
.tab{
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}
.tab img{
    width: 20px;
    height: auto;
}

.local{
    background-color: rgb(170, 170, 170);
    font-weight: bold;
    font-size: larger;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.loading{
    padding: 10px;
    background: repeating-linear-gradient(
        45deg,
        #bdbe4f,
        #bdbe4f 10px,
        #959e1b 10px,
        #959e1b 20px
      );
}

.toolbar{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: rgb(170, 170, 170);
    display: flex;
    gap: 5px;
}

.tool{
    padding: 5px;
    display: flex; 
    background-color: white;
    gap: 5px;
}


.tool img{
    width: 15px;
    height: auto;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
    align-items: center;
}

table img{
    width: 20px;
    height: auto;
}

td:nth-child(1) { background-color: gray;}
tr:nth-child(1){background-color:gray;font-weight: bold;}
tr:hover {background-color: #a2bfe9;}
td:hover {background-color: #a2bfe9;}

.blank{
    padding: 10px;
}

.title{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border: 2px solid blue;
    font-weight: bold;
}

.title p{
    color:  rgb(78, 74, 74);
}
.title img{
    width: 30px;
    height: auto;
}

main{
    display: flex;
}

section{
    border: 5px solid rgb(196, 194, 194);
    border-collapse: collapse;
    align-items: center;

}

.teste {
    width: 100%;
}

#schema {
    width: 100%;
}
